/*color palette*/
:root {
    --dk-purple: #1f152f;
    --turquoise: #007C77;
    --lt-green: #CBDF90;
    --beige: #FFF4E9;
}

/*Gloabl Styling*/
* {
    background-color: var(--dk-purple);
}
.custom-margins {
    margin-left: 10%;
    margin-right: 10%;
}
button {
    box-shadow: 1px 1px 2px var(--dk-purple);
}


/*Link Styling*/
a:link {
    color: var(--lt-green);
}
a:visited {
    color: var(--lt-green);
}
.nav-link:hover {
    background-color: var(--turquoise);
    border-radius: 10px;
}


/*Text Styling*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');
.header-font-1 {
    font-family: 'Bungee Shade', cursive;
    font-size: 85px;
    color: var(--lt-green);
    text-shadow: 2px 2px 10px black;
}
.header-font-2 {
    font-size: 45px;
    color: var(--lt-green);
    text-shadow: 2px 2px 5px black;
}
.header-font-3 {
    font-size: 30px;
    color: var(--beige);
    text-shadow: 1px 1px 2px var(--dk-purple);
}
.body-font-1 {
    font-size: 30px;
    color: var(--beige);
}
.body-font-2 {
    font-size: 23px;
    color: var(--beige);
    text-shadow: 1px 1px 2px var(--dk-purple);
}


/*Project Component*/
.card {
    width: 36rem;
    box-shadow: 5px 5px 5px black;
}
.card:hover {
    box-shadow: 0 0 10px 5px var(--lt-green);
}
.card-styles {
    background-color: var(--turquoise);
}

/*Contact Component*/
.form {
    background-color: var(--turquoise);
}
form {
    width: 75rem;
    border-radius: 20px;
    box-shadow: 3px 3px 5px black;
}

/*Footer Styling*/
.icon {
    width: 85px;
}