:root {
    --dk-purple: 372554;
    --turquoise: 007C77;
    --pink: E56399;
    --lt-blue: 71A2B6;
    --beige: FFF4E9;
}


/*try to find a different way to do this*/
* {
    background-color: #1b093d;
    color: white;
}


/*style to override default link colorss*/
a:link {
    color: white
}
a:visited {
    color: white;
}


.font-1 {
    font-size: 30px;
}

.font-2 {
    font-size: 45px;
}

.font-header {
    font-size: 70px;
}


/*Project Component*/
.card {
    width: 36rem;
}
.card-styles {
    background-color: magenta;
}