* {
    background-color: #1b093d;
    color: white;
}


/*style to override default link colorss*/
a:link {
    color: white
}
a:visited {
    color: white;
}


.font-1 {
    font-size: 30px;
}

.font-2 {
    font-size: 45px;
}

.font-header {
    font-size: 70px;
}